@use '../../../styles';


.navigation__darkMode,
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-right: 20px;
  min-height: styles.$navigationHeight;

  background-color: styles.$backgroundColor;
  z-index: 1;

  li + li {
    margin-top: 30px;

  }

  li {
    list-style: none;
    margin: 0 10px;

    a {
      text-decoration: none;
      font-size: 0.9rem;
      font-weight: bold;
      text-transform: uppercase;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      height: 30px;
      background-color: #fff;
      border-radius: 10px;
      border: 1px solid #000000;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 1;
      //transition: all 0.2s ease-in-out;

      &:hover {
        transition: all 0.5s cubic-bezier(0.25, 0.8, 0.25, 1);
        color: #ffffff;
        background-color: #000;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
      }


    }

    .subMenu {
      position: absolute;
      //background-color: #5676c7;
      animation: display-submenu 0.3s ease-in-out forwards;


    }


  }

  .subMenu__active,
  .active {
    color: #ffffff;
    background-color: #000;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  }

  .subMenu__active {
    position: absolute;
    transform: translateY(7px);
    animation: display-submenu-active 0.2s ease-in-out forwards;
  }

  .authenticated__menus{
    margin-top: 30px;
    background: rgba(70, 69, 69, 0.18);
    padding-bottom: 50px;
    padding-top: 13px;
    //border: 1px solid #000000;
    border-radius: 20px;
    //box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.41);
  }


}


.navigation__darkMode{
  background-color: black;
  color: styles.$backgroundColor;

  li {

    a {

      background-color: black;
      border: 1px solid styles.$backgroundColor;
      box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);

      &:hover {
        color: black;
        background-color: styles.$backgroundColor;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.5);
      }


    }
  }

  .subMenu__active,
  .active {
    color: black;
    background-color: styles.$backgroundColor;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.7);
  }

  .authenticated__menus{
    background: rgba(30, 30, 30, 0.51);
    border: 1px solid #ffffff;

  }

}


@keyframes push-down {
  0% {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(0);
  }
  100% {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
    transform: translateY(1px);
  }
}


@keyframes display-submenu {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(7px);
  }
}

@keyframes display-submenu-active {
  0% {
    //transform: translateY(7px);
  }
  100% {
    //translate XY
    transform: translate(7px, 7px);

  }


}


