.movies__darkMode,
.movies {

  .genres__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0.3rem;

    .next__genre,
    .previous__genre {
      display: flex;
      user-select: none;
      div {
        align-self: center;
        font-style: italic;
        font-size: 1.2rem;
        cursor: pointer;
        color: rgba(0, 0, 0, 0.59);
        padding: 0 0.6rem;
        transition: all 0.2s ease-in-out;
        &:hover {
          color: rgba(0, 0, 0, 0.87);
        }
      }

      svg {
        cursor: pointer;
        transform: scale(2) rotate(90deg);
        path {
          fill: black;
        }
        &:active {
          animation: translate-hover 0.9s ease-in-out both;
        }

        @keyframes translate-hover {
          0% {
            transform: translateX(1px) scale(2) rotate(90deg);
          }

          100% {
            transform: translateX(-1px) scale(2) rotate(90deg);

          }
        }
      }


    }
    .next__genre{
      svg{
        transform: scale(2) rotate(-90deg);
        &:active {
          animation: translate-hover-next 0.9s ease-in-out both;
        }


      }
      @keyframes translate-hover-next {
        0% {
          transform: translateX(-1px) scale(2) rotate(-90deg);
        }

        100% {
          transform: translateX(1px) scale(2) rotate(-90deg);

        }
      }
      @keyframes translate-hover-after-next {
        0% {
          transform: translateX(3px) scale(2) rotate(-90deg);
        }

        100% {
          transform: translateX(0px) scale(2) rotate(-90deg);

        }
      }

    }
  }

  .list__movies {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    justify-content: space-between;
    margin: 0 0;
    padding: 0;

    li {
      list-style: none;
      //padding-left: ;


    }

    a {
      display: flex;
      height: 30px;
      //align-items: center;
      //text-align: center;
      padding: 1.3rem 0;
      border-bottom: 1px solid #ccc;
    }

    a:hover {
      // cubic-bezier(0.075, 0.82, 0.165, 1
      animation: increase-size-text 0.2s ease-in-out forwards;

    }
  }

  .no__movies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0;
    padding-top: 20px;
    font-size: 1.3rem;
    color: #ccc;
  }

  @keyframes increase-size-text {
    0% {
      font-size: 1rem;
    }
    100% {
      background-color: rgba(204, 204, 204, 0.53);
      font-size: 1.1rem;
      padding-left: 5px;
      align-items: center;

    }
  }
}

.movies__darkMode {
  color: white;
  .genres__nav {

    .next__genre,
    .previous__genre {
      div {
        color: rgba(255, 255, 255, 0.59);
        &:hover {
          color: rgba(255, 255, 255, 0.87);
        }
      }

      svg {
        path {
          fill: white;
        }
      }


    }
  }

}


  
